.contacts__schedule
{
  font-size: 13px;
  text-decoration: underline;
  position: relative;
  color: #98A4A8 ;
  margin-bottom: 25px;
  transition: 1s;
}
.contacts__schedule:hover
{
  color: #FFFFFF;
  cursor: pointer;  
}

.contacts__schedule_wrap
{
  margin-bottom: 20px;
  position: relative;
}

.contacts__schedule_wrap:hover .dropdown
{
  left: 0;
  opacity: 1;
}

.dropdown
{
  padding: 24px 20px 15px;
  background: #ededed;
  opacity: 0.8;
  border-radius: 5px;
  color: #000;
  font-weight: 600px;
  position: absolute;
  top: 100%;
  margin-top: 7px;
  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
}

.dropdown__days .dropdown__time
{
  font-size: 13px;
  font-weight: bold;
}

.dropdown::after
{
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-bottom-color: #ededed;
  border-top-width: 0;
  top: -10px;
  right: 33px;
}