.services
{
  margin-bottom: 70px;  
}

.service
{
  display: flex;
  padding-top: 52px;
}

.service__img
{
  position: relative;
  width: 161%;
  margin-right: 7%;
}
.service__img-90s
{
  position: absolute;
  padding-top: 90px;
  padding-bottom: 72px;
  padding-left: 70px;
}

.service___content

{
  flex:1;
}

.service__title
{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 28px;
  color: #000000;
}

.service_desc
{
  margin-bottom: 30px;
}